<% include ../partials/header.ejs %>
  <div class='Character Sheet'>
    Character sheet would go here
  </div>
  <div class='powers'>
    <% include ../partials/powercard.ejs %>
  </div>
<% include ../partials/footer.ejs %>
